<div *ngIf="wishes.length === 0; else showItems">
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of wishes; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="checkbox"
                   [checked]="item.isComplete"
                   (click)="toggleWishItem(item)"
                   [attr.data-index]="ii"
            /> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>