

<!--
---- Adding forms
---- $event - reference to the click event object so we can prevent the default behavior
---- [(ngModel)] is here to bind the input value to the model to property newWishText
-->
<div class="container">
  
  <div class="title-header">Hello, {{title}}</div>
  <hr/>

  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input type="text" class="form-control" name="new-wish-text" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary"
              type="submit"
              (click)="$event.preventDefault(); addNewWish();"
      >Add wish</button>
    </div>
  </form>
  <hr/>

  <div *ngIf="items.length === 0; else showItems">
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="checkbox"
                   [checked]="item.isComplete"
                   (click)="toggleWishItem(item)"
                   [attr.data-index]="ii"
            /> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
  
  <hr/>

  <div *ngFor="let item of items; index as ii">
    <div><span>{{item.wishText}}:</span> {{item.isComplete}}</div>
  </div>
</div>


<!--
---- Adding event
---- (click)="toggleWishItem(item)"   // Option 1 to bind an event
---- (click)="item.isComplete = !item.isComplete"   // Option 2 to bind an event

<div class="container">
  
  <div class="title-header">Hello, {{title}}</div>
  <hr/>

  <div *ngIf="items.length === 0; else showItems">
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="checkbox"
                   [checked]="item.isComplete"
                   (click)="toggleWishItem(item)"
                   [attr.data-index]="ii"
            /> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

  <div><span>{{items[0].wishText}}:</span> {{items[0].isComplete}}</div>
  <div><span>{{items[1].wishText}}:</span> {{items[1].isComplete}}</div>
  <div><span>{{items[2].wishText}}:</span> {{items[2].isComplete}}</div>
</div>
-->

<!--
---- Adding index to the for loop

<div class="container">
  
  <div class="title-header">Hello, {{title}}</div>
  <hr/>

  <div *ngIf="items.length === 0; else showItems">
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="checkbox"
                   [checked]="item.isComplete"
                   [attr.data-index]="ii"
            /> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>
-->

<!--
---- This is option three with template only for the else
---- This sample also shows binding a JS property "checked" to the model item.isComplete.
---- I specified JS property as in JS properties they are camelCase
---- as opposed to HTML properties which are all lowercase

<div class="container">
  
  <div class="title-header">Hello, {{title}}</div>
  <hr/>

  <div *ngIf="items.length === 0; else showItems">
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="checkbox"
                   [checked]="item.isComplete"
            /> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>
-->
<!--
---- This is option two with templates 
<div class="container">
  
  <div class="title-header">Hello, {{title}}</div>
  <hr/>

  <div *ngIf="items.length === 0; then noItems; else showItems"></div>

  <ng-template #noItems>
    <div>
      <p>There are no wishes yet.</p>
    </div>
  </ng-template>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="checkbox"/> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>
-->

<!--
---- This is option one with if checks

<div class="container">
  <div class="title-header">Hello, {{title}}</div>
  <hr/>
  
  <div *ngIf="items.length === 0">
    <p>There are no wishes yet.</p>
  </div>

  <ul *ngIf="items.length > 1" class="wish-list">
    <li *ngFor="let item of items">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="checkbox"/> {{item.wishText}}
        </label>
      </div>
    </li>
  </ul>
</div>
-->